<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="13774adriapps.elMeuIMC" Publisher="CN=AE1AB9E7-EE80-42F1-942C-38380E0722E7" Version="1.0.0.0" />
  <Properties>
    <DisplayName>elMeuIMC</DisplayName>
    <PublisherDisplayName>adriapps</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="elMeuIMC.App">
      <VisualElements DisplayName="myBMI" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Use this App to calculate  your Body Mass Index." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>